<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<script>
    function logout() {
        $.removeCookie('mytoken', {path: '/'})
        alert('로그아웃!')
        window.location.href = "/login"
    }

    // 댓글 저장
    function create_comment() {
        let commentChk = $('#input-comment').val()
        if (commentChk) {
            $.ajax({
                type: "POST",
                url: `/createComment`,
                data: {
                    user_id_give: "{{ user_info.userId }}",
                    nickname_give: "{{ user_info.nickname }}",
                    bid_give: "{{ bid }}",
                    comment_give: $('#input-comment').val()
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = "/viewDetail?bid={{ bid }}"
                }
            });
        } else {
            alert("댓글을 입력해 주세요!")
        }
    }

    // 댓글 삭제
    function delete_comment(comment_id) {
        $.ajax({
            type: "POST",
            url: `/delComment`,
            data: {
                user_id_give: "{{ user_info.userId }}",
                comment_id_give: comment_id
            },
            success: function (response) {
                alert(response["msg"])
                window.location.href = "/viewDetail?bid={{ bid }}"
            }
        });
    }

    //북마크 저장
    function save_bookmarks() {
        $.ajax({
            type: "POST",
            url: `/createBookmark`,
            data: {
                user_id_give: "{{ user_info.userId }}",
                book_id_give: "{{ books.bookId }}"
            },
            success: function (response) {
                alert(response["msg"])
                window.location.href = "/viewDetail?bid={{ bid }}"
            }
        });
    }

    //북마크 삭제
    function delete_bookmarks() {
        $.ajax({
            type: "POST",
            url: `/delBookmark`,
            data: {
                user_id_give: "{{ user_info.userId }}",
                book_id_give: "{{ bookmarks.bookId }}"
            },
            success: function (response) {
                alert(response["msg"])
                window.location.href = "/viewDetail?bid={{ bid }}"
            }
        });
    }
</script>


<body>
<!-- Header Section Begin -->
<header class="header">
    <nav class="navbar is-fixed-top colorBlack" role="navigation" aria-label="main navigation">
        <div class="navbar-brand" style="margin-left: 10px">
            <img src="static/img/logo.svg" onclick="window.location.href= '/'">
        </div>

        <div style="margin-left:fill;color:white;margin-right: 10px">
            {{ user_info.nickname }}님 &nbsp;&nbsp;&nbsp;
            <a onclick="window.location.href = '/mypage'">마이페이지 &nbsp;&nbsp;&nbsp;</a>
            <a onclick="logout()">로그아웃</a>
        </div>
    </nav>
</header>
<!-- Header End -->

<!-- Body Section Begin -->
<section class="book-details spad">
    <div class="container">
        <div class="book__details__content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5> {{ book_info.book_name }} </h5>
                    </div>
                    <p></p>
                </div>
                <div class="col-lg-3">
                    <div class="book__details__pic">
                        <img src="{{ book_info.book_img_url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="book__details__text">
                        <div class="row">
                            <div class="book__details__title col-md-10">
                                <h3>{{ book_info.book_name }}</h3>
                            </div>
                            <div class="book__details__btn col-md-2">
                                {% if bookmarks.bookId %}
                                    <button type="button" class="btn btn-dark" onclick="delete_bookmarks()">
                                        <i class="fa fa-heart-o"></i>&nbsp;관심취소
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-dark" onclick="save_bookmarks()">
                                        <i class="fa fa-heart-o"></i>&nbsp;관심등록
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="book__details__rating">
                            <div class="rating">

                            </div>
                        </div>
                        <div class="book__details__widget">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <ul>
                                        <li><span>저자 : </span> {{ book_info.author }}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <ul>
                                        <li><span>평점 : </span> {{ book_info.book_score }}점</li>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                                 style="width: {{ book_info.book_score|float * 10 }}%"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <b>책소개</b>
                        <div>{{ book_info.book_content|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-10">
                <div class="book__details__form">
                    <div class="section-title">
                        <div class="row">
                            <div class="col-lg-11">
                                <h5>댓글 | (
                                    {% if comments|length == 0 %}
                                        0
                                    {% else %}
                                        {{ comments|length }}
                                    {% endif %})
                                </h5>
                            </div>
                            <div class="col-lg-1">
                                <button id="post-comment" class="btn btn-dark" type="button" onclick="create_comment()">
                                    <i class="fa fa-location-arrow"></i>등록
                                </button>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <form action="#">
                        <textarea id="input-comment" placeholder="댓글을 등록해 주세요"></textarea>
                    </form>
                </div>
                <div class="book__details__review">
                    {% for comment in comments %}
                        <div class="book__review__item">
                        <div class="book__review__item__pic">
                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="book__review__item__text">
                            <div class="row">
                                <div class="col-lg-11">
                                    <h6>{{ comment.nickname }}</h6>
                                </div>
                                <div class="col-lg-1">
                                    {% if comment.userId == user_info.userId %}
                                        <button type="button" class="btn-sm btn-outline-danger"
                                                onclick="delete_comment('{{ comment.comment_id }}')">삭제
                                        </button>
                                    {% endif %}
                                </div>
                                <p>&nbsp;&nbsp;{{ comment.comment }}</p>
                            </div>
                        </div>
                        <p></p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Body Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <p>b_2조</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
</body>

</html>