<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <title>1주차 5기 b반 2조</title>
    <meta property="og:title" content="We(ekly) ; Book"/>
    <meta property="og:description" content="이번 주 베스트셀러 공유"/>
    <meta property="og:image" content="../static/img/logo.jpg"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='./img/logo.jpg') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='./img/logo.jpg') }}" type="image/x-icon">
    <style>

        .book_image {
            margin-right: 30px;
        }

        .book_title {
            font-size: 20px;
        }

        .desc_title {
            font-weight: bold;

        }

    </style>

</head>
<script>
    function logout() {
        $.removeCookie('mytoken', {path: '/'});
        alert('로그아웃!')
        window.location.href = "/login"
    }
</script>
<body>
<!-- Header Section Begin -->
<header class="header">
    <nav class="navbar is-fixed-top colorBlack" role="navigation" aria-label="main navigation">
        <div class="navbar-brand" style="margin-left: 10px;width: 10%">
            <img src="static/img/logo_bar.jpeg" onclick="window.location.href= '/'" style="cursor:pointer;width: 200px">
        </div>

        <div style="margin-left:fill;color:white;margin-right: 10px;font-weight: bold;color:#4c5394">
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ user_info.nickname }}님 &nbsp;&nbsp;&nbsp;
            <a onclick="window.location.href = '/mypage'" style="font-weight: bold;color:#4c5394"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i> MyPage &nbsp;&nbsp;&nbsp;</a>
            <a onclick="logout()" style="font-weight: bold;color:#4c5394"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i> Logout</a>
        </div>
    </nav>
</header>
<!-- Header End -->

<!-- Book Section Begin -->
<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <p class="row">
                    <div class="section-title">
                        <h5> 이번주 베스트셀러 </h5>
                    </div>
                    <p>
                    <div class="book_list">
                        {% for book in books %}
                            <div class="media">
                                <a href="/viewDetail?bid={{ book.bid }}">
                                    <img class="book_image" src='{{ book.book_img }}' alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                    <a href="/viewDetail?bid={{ book.bid }}"
                                       class="book_title"> {{ book.title }}. </a>
                                    <p class="book_author"><span style="font-weight: bold">저자 :</span> {{ book.author }}
                                        <span class="bar">|</span>
                                        <span class="book_publisher"> <span
                                                style="font-weight: bold">출판사 :</span> {{ book.publisher }}</span></p>
                                    <p class="book_description"><span class="desc_title"> 개요 :</span> {{ book.desc }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- News Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
</body>

</html>