<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class= "book_list">
        {% for book in books %}
        <footer class= "footer">
          <div class= "media">
            <img class= "book_image" src={{book.book_img}} alt="Generic placeholder image">
            <div class= "media-body">
                <a href= "/viewDetail?bid={{book.bid}}"  class= "book_title" > {{book.title}}. </a>
                <p class="book_author"> 저자: {{book.author}}</p>
                <p class= "book_description"> {{book.desc}} </p>
            </div>
          </div>
        </footer>
        {% endfor %}
    </div>
</body>
</html>

