<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <style>
        .wrap {
            width: 1200px;
            margin: auto;
        }

        .bookmark{
            border: solid #bee5eb 3px;
            border-radius: 10px;
            font-size: 38px;
            padding: 30px;
            text-align: center;
        }

        .section-wrapper{
            margin-top: 100px;
            padding-bottom: 42%; /* footer의 높이 */
        }
    </style>

    <script>
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

        function delBookmark(bookId, userId){
            $.ajax({
                type: "POST",
                url: "/delBookmark",
                data: {
                    book_id_give: bookId,
                    user_id_give: userId
                },
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                    window.location.reload();
                }
            });
        }
    </script>

</head>

<body>

    <!-- Header Section Begin -->
    <header class="header">
        <nav class="navbar is-fixed-top colorBlack" role="navigation" aria-label="main navigation">
            <div class="navbar-brand" style="margin-left: 10px">
                <img src="static/img/logo.svg" onclick="window.location.href= '/'">
            </div>

            <div style="margin-left:fill;color:white;margin-right: 10px;font-weight: bold;color:#4c5394">
                {{ user_info.nickname }}님 &nbsp;&nbsp;&nbsp;
                <a onclick="window.location.href = '/mypage'" style="font-weight: bold;color:#4c5394">MyPage &nbsp;&nbsp;&nbsp;</a>
                <a onclick="logout()" style="font-weight: bold;color:#4c5394">Logout</a>
            </div>
        </nav>
    </header>
    <!-- Header End -->

    <!-- News Section Begin -->
    <section class="section-wrapper">
        <div class="wrap">
            <p class="bookmark">관심 도서 목록</p>
            <div id="cards-box" class="card-columns">
                {% for bookrow in userBookmarkList %}
                <div class="card" style="border: solid #bee5eb; border-radius: 15px;">
                    <img src="{{bookrow.imgsrc}}" style="width: 150px; margin: auto; display: block; padding-top: 15px;"
                    onclick='window.open("{{bookrow.booklink}}")'/>
                    <div class="card-body">
                        <a target="_blank" href="{{bookrow.booklink}}" class="card-title">{{bookrow.title}}</a><br/>
                        <p style="margin-top: 15px">저자/ 출판사 &nbsp;: &nbsp;{{bookrow.author}}/ {{ bookrow.publisher }}</p>
                        <p class="card-text">{{bookrow.desc}}</p>
                        <button type="button" class="delBtn btn btn-primary" onclick="delBookmark('{{bookrow.id}}','{{user_info.userId}}')">삭제</button>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- News Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</body>

</html>